body{
    width: 80%;
    margin: auto;
}
.header-container{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
.header h1{
    font-size: 5vh;
    margin-top: 15%;
}
.introduction{
    width: 50%;
}
.introduction h4{
    font-size: 5vh;
}
.introduction p{
    font-size: 2vw;
    margin-top: -50px;
}

@media only screen and (max-width: 1400px){
    
}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 576px){

}